@import "tailwindcss";

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: linear-gradient(0deg, #3c3d3c, #cde027, #04460e);
	background-attachment: fixed;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@media (max-width: 639px) {
	html,
	body {
		font-size: 0.9rem;
	}
}

a {
	color: rgb(0, 23, 200);
	text-decoration: underline;
	cursor: pointer;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #000;
	background-color: #aaa;
	outline: none;
	margin: 0;
	cursor: pointer;
	padding: 0.2rem 1rem;
}

button:disabled {
	color: #555;
	background-color: #ccc;
	cursor: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
